<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Ruby On Rails first app 
    </small>
     <nav>
    <ul>
      <li> <%= link_to "About", about_path %> </li>
    </ul>
  </nav>
  </footer>
 
</div>